
<div class="addbtn">
  <button (click)="togglebutton()" type="button" class="btn btn-primary" id="add-btn">Add</button>
</div>
<hr>

<div class="table-values">

  <table class="custom-table">
    <thead>
      <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>State</th>
        <th>Password</th>
        <th>Edit / Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of formData">
        <td>{{a.id}}</td>
        <td>{{a.username}}</td>
        <td>{{a.email}}</td>
        <td>{{a.phone}}</td>
        <td>{{a.gender}}</td>
        <td>{{a.dob | date:'dd/MM/yyyy'}}</td>
        <td>{{a.state}}</td>
        <td>{{a.Userpassword}}</td>
        <td>
          <button (click)="getId(a.id)" type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#exampleModal"> <svg xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" />
            </svg></button>


          / <button (click)="delete(a)"><svg xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
            </svg> </button>
        </td>
      </tr>
    </tbody>
  </table>





</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="updatedForm">
          <label for="">Name</label>
          <input type="text" name="" id="" class="name-update" formControlName="username">
          <small class="error"
            *ngIf="updatedForm.get('username')?.invalid && updatedForm.get('username')?.touched">*Name is a Required
            Field</small> <br><br>
          <label for="">Email</label>
          <input type="email" name="" id="" class="name-update" formControlName="email">
          <small class="error" *ngIf="updatedForm.get('email')?.invalid && updatedForm.get('email')?.touched">*Enter
            Valid Email Id</small> <br><br>
          <label for="">Mobile-Number</label>
          <input type="number" name="" id="" class="name-update" formControlName="phone">
          <small class="error" *ngIf="updatedForm.get('phone')?.invalid && updatedForm.get('phone')?.touched">*Enter
            Valid Mobile No</small> <br><br>


          <label for="" class="gender">Gender </label>
          <select name="gender" id="Stateid" placeholder="Gender" formControlName="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <small class="error" *ngIf="updatedForm.get('gender')?.invalid && updatedForm.get('gender')?.touched">*Enter
            Valid Gender
            Field</small><br><br>

          <label for="">DOB</label>
          <input type="date" name="" id="" class="name-update" formControlName="dob">
          <small class="error" *ngIf="updatedForm.get('dob')?.invalid && updatedForm.get('dob')?.touched">*Enter Date of
            Birth</small>
          <br><br>

          <label for="" class="state">State </label>
          <select name="State" id="Stateid" placeholder="State" formControlName="state">
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Odisha">Odisha</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Telangana">Telangana</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="West Bengal">West Bengal</option>
            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
            <option value="Chandigarh">Chandigarh</option>

            <option value="Lakshadweep">Lakshadweep</option>
            <option value="Delhi">Delhi</option>
            <option value="Puducherry">Puducherry</option>
            <option value="Ladakh">Ladakh</option>
          </select>
          <small class="error" *ngIf="updatedForm.get('state')?.invalid && updatedForm.get('state')?.touched">*Enter
            State</small>
          <br>

          <label for="">Password</label>
          <input type="password" name="" id="" class="name-update" formControlName="Userpassword">
          <small class="error"
            *ngIf="updatedForm.get('Userpassword')?.invalid && updatedForm.get('Userpassword')?.touched">*Enter Valid
            Password</small>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="saveChanges()" type="button" class="btn btn-primary" [disabled]="updatedForm.invalid">Save
          changes</button>
      </div>
    </div>
  </div>
</div>
